.navbar {
    direction: rtl;
    text-align: right;
}
.offcanvas-end {
    top: 0;
    left: 0;
    right: auto;
    border-right: 1px solid rgba(0,0,0,.2);
    border-left: 0;
    transform: translateX(-100%);
}

#banner {
    direction: rtl;
    text-align: right;
}

.section.active .loadtxt3 {
    direction: rtl;
    text-align: right;
}
.carousel-indicators {
    left: auto;
    right: 0 !important;
    bottom: 35px;
}
.carousel-item {
    direction: rtl;
    text-align: right;

}
.slide-container {
    direction: rtl;
    text-align: right;
}
.timeline-carousel__item-wrapper{
    direction: ltr;
}
.timeline-carousel__item-inner {
    direction: rtl;
    text-align: right;
}
.timeline-carousel__item-inner .year {
    padding-right: 30px;
}
.timeline-carousel__item-inner p {
    padding-right: 30px;
}
.corevalues{
    direction: ltr;
}
.newsletter-content {
    padding-left: 90px;
    padding-right: 0 !important;
}
.navbar-nav .dropdown-menu {
    text-align: right;
}
.dropdown-item {
    padding: 10px 0 !important;
}
.main-title {
    direction: rtl !important;
    text-align: right !important;
}
.main-title h1:before {
    border-right: solid 3px #ffc107;
    border-left:0;
}
.section-item+.section-item {
    direction: rtl;
    text-align: right;
}
.section-item{
    direction: rtl;
    text-align: right;
}
.linkscontainer a {
    float: right;
    text-align: right;
}
.service-descr {
    direction: rtl;
    text-align: right;
}
.breadcrumb-menu ul {
    padding-left: 50px;
    padding-right: 0;
    display: flex;
}
.breadcrumb-menu ul li {
    margin-right: 0;
    padding-right: 0;
    margin-left: 5px;
    padding-left: 15px;
}
.breadcrumb-menu ul li:before {
    left: 0px;
    right: auto;
}
.btn-one i, .btn-two i, .btn-three i, .btn-four i, .btn-five i, .btn-six i, .btn-seven i, .btn-eight i, .btn-nine i {
    position: relative;
    top: 0px;
    margin-left: 0;
    font-size: 13px;
    margin-right: 15px;
}
.service4-row{
    direction: rtl;
    text-align: right;
}
.pr-25 {
    padding-left: 25px;
    padding-right: 0;
}
.newscontent-details {
    margin-left: 0;
    margin-top: 2.25rem;
    margin-right: 90px;
}
.news-date.details {
    float: right;
    top: 0;
    left: auto;
    right: 0;
}
.contact__three-info-content p {
    direction: ltr;
}
.conbix-contact-item span {
    right: auto;
    left: 16px;
}
#signUpForm .form-header .stepIndicator::after {
    left: auto;
    right: 50%;
}
#signUpForm .form-header .stepIndicator::before {
    right: auto;
    left: 50%;
}