@media (max-width: 991px) {
	.subpage-content-wrapper .stats-container { padding-right: 0;}
	.subpage-content-wrapper .stats-container.text-right { text-align: right !important; }
	.btn.goback { float: right; margin-right: 10px;}
	
	.strategy img { width:100%; height: 350px; object-fit: cover; }
	.strategycontent.content-inner1, .strategycontent.content-inner2 { padding: 0;}
	.strategy.content-inner1 .icon-investment, .strategy.content-inner2 .icon-investment  { left:30px; top:190px; right: inherit;}
	.lightbg-right { background: none; }
	.strategycontent.content-inner { margin-top: 30px;}
	.strategycontent h3 { margin-bottom: 15px;}
	.strategy.strategycontent {margin-bottom: 40px;}
	.abstract-investments { padding: 60px 15px 20px; }
	.companylist .company-logo { text-align: right; vertical-align: top; margin-bottom: 25px; margin-top: 15px;}
	.careersbgpx .content-inner2 { margin: 60px 0; padding: 30px; }
	.subpage-content-wrapper .corevalues {  padding: 30px 30px 20px;}
	.subpage-content-wrapper .corevalues .valuescontainer .value-img { padding-right: 0;}
	.subpage-content-wrapper .corevalues .valuescontainer .value-content { padding-left: 0}
	.subpage-content-wrapper .corevalues .valuescontainer .value-img img { height: 200px;}
	.address-container { margin-bottom: 30px; }
	.socialmediachannels { float: inherit; display: block; }
	
	.address-container .address.style2:before { left:0;}
	.address-container .address a { margin-bottom: 0;}
	
	.sidesharewrapper .addthiswrapper { min-height: inherit; float: left; margin-top: 15px;}
	.sidesharewrapper .addthiswrapper .position-sticky { position: relative !important; top:0; }
	.sidesharewrapper .btn.goback { float: right; margin-bottom: 0; margin-top: 0;}
	.sidesharewrapper .addthiswrapper .shareButton {  height: inherit; position: relative;}
	.sidesharewrapper .addthiswrapper .shareButton .container { height: inherit; top:inherit; 	width: 230px; left: inherit;}
	.sidesharewrapper .addthiswrapper .shareopened.bottomshare .container:before { top:inherit; display: none;}
	
	.chairmanmessage.mt-5 { margin-top: 0 !important; }
	.abstract1 span.qmark { font-size:120px; position: relative; color: #d0d6d8; margin-right: -5px; top:60px;  }
	ul.relatednews { margin-bottom: 40px;}
	
	ul.relatednews li:nth-child(1) { padding-right: 30px; }
	ul.relatednews li:nth-child(2) { padding-left: 30px; }
}
@media (max-width: 767px) {
	html { font-size: 13px; }
	.section-item + .section-item { margin-top: 2rem; }
	.brand {
	  width:180px;
		margin-top: 7px;
	}
	.search-btn { margin: .5rem .8rem 0; }
	.home-piling .slide-video-container .text-center  {
		text-align: right !important;
	}
	.home-piling .slide-video-container .homeplaybtn {
		margin-top: 4vmin;
	}
	.home-piling h1, .home-piling .h1 { font-size: 1.125rem; line-height: 1.875rem; }
	.home-piling h1 .text-primary { font-size: 1.875rem; line-height:2.25rem;   }
	.home-piling .slide-video-container h1.slide-title { margin-top: auto; margin-bottom: 5px;}
	.home-piling .slide-video-container .slide-content {
		min-height: auto;
		position: fixed;
		top:45%;
		margin-bottom: 0;
		padding-left: 40px;
	}
  .home-piling .slide-video-container .slide-descr {
	font-size: 1rem;
  }
.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0 2px 0 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 2px 0 0 rgba(255, 255, 255, .1);
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, .1);
  border: 0;
  font-size: 5vmin;
  font-weight: 300;
  padding: 20px;
  color: #fff;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
	.home-piling .corevalues .valuescontainer { margin-top: 60px;}
	
.article-promo-item { min-height: 35rem; }
.strategy img { width:100%; height: 250px; object-fit: cover; }
.strategy .icon-investment {
	width: 80px;
	height: 80px;
	top:210px !important;
}
.strategycontent h3 { font-size: 2.25rem; line-height: 2.5rem; }
.strategy.strategycontent {margin-bottom: 10px;}
.strategy.strategycontent h3 { padding-left: 95px; margin-top: -10px; }
.subpage-content-wrapper { padding-bottom: 40px; }	
.subpage-content-wrapper .corevalues .valuescontainer .value-img { display: block; width: 100%;}
.subpage-content-wrapper .corevalues .valuescontainer .value-img img{ height: 100px;}

	.bottomsharewrapper .addthiswrapper span.txt { position: relative; display: block; left:0; margin-top: 40px; }
	.bottomsharewrapper .shareButton { position: relative; left:0; margin-top: -10px;}
	.addthiswrapper .shareopened.bottomshare .container { right: 0; }
	.addthiswrapper .shareopened.bottomshare .container { padding: 10px 0 7px; z-index: 1; }
	.addthiswrapper .shareopened.bottomshare .container:before {
		display: none;
	}
	
	.sidesharewrapper { text-align: left; }
	.sidesharewrapper .addthiswrapper { display: block; float: right; clear: both; margin-top: 50px; margin-right: 20px;}
	.sidesharewrapper .addthiswrapper .shareButton {  position: relative; right:0; margin-top: -10px;}
	
	span.recaptcha { display: block; clear: both; position: relative; margin-top: 15px; }
	span.recaptcha img{ margin-right: 0;}
	
	.news-date.details {
	width: 60px;
	height: 60px;
	text-align: center;
	position: relative;
	float: inherit;
	top:0;
	left: 0;
	padding-top: 12px;
}
.newscontent-details { margin-right: 0; margin-top: 1rem; }
	
ul.relatednews {  display: none; }
	
.newslist .title-wrapper, .newslist .desc-wrapper { margin-top: 0; border:none; padding-top: 1rem; padding: 15px; }
	
.horizontal-service-item2 { margin-top: 30px; }

.fact-item {  margin-bottom: 2rem; }
    
    .sidesharewrapper .btn.goback{right: 10px;}
}

@media (max-width: 479px) {
	html { font-size: 12px;}
	.btn.goback { margin-left: 0px;}
	.mb-5, .my-5 { margin-bottom: 30px !important;}
	.pagination-wrapper {margin-top: 30px; }
	.pagination-wrapper .Pager a{padding:12px 14px 8px;}
	.pagination-wrapper .Pager span{padding:12px 14px 8px;}
	.home-piling .slide-video-container .slide-descr br { display: none;}
	.home-piling .corevalues .valuescontainer .value-img { padding-left: 10px; padding-right: 10px;}
	.article-promo-item { min-height: 20rem; padding-bottom: 0; }
	.abstract-investments { padding: 40px 15px 10px; }
	.strategy.strategycontent .icon-investment { top: -10px !important;}
	.strategy.strategycontent h3 { display: block; padding-right: 0; margin-top: 80px; }
	.subpage-content-wrapper .corevalues { padding: 30px 15px 15px;}
	.subpage-content-wrapper .corevalues .valuescontainer .value-img { margin-top:-15px;}
	.subpage-content-wrapper .corevalues .valuescontainer .value-content { display: block; width:100%; clear: both; padding-top: 15px; }
	.newscontent { margin-left: 0;}
	.subpage-content-wrapper .corevalues .newscontent { margin-left: 18px;}
	/*.linkscontainer a { display: block; width:100%; }
	.linkscontainer a.readmore { text-align: left; margin-top: 5px;  }*/
	.gm-style .gm-style-iw p span { display: block; margin-bottom: 10px; }
	.sidesharewrapper .addthiswrapper { margin-left: 0;}
	.horizontal-service-item-photo img.photo-position { height: 25vmin; top:0;}
}